<?xml version="1.0" encoding="UTF-8"?>
<!--  
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	
	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<!-- security-context.xml 설정 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring/root-context.xml
			/WEB-INF/spring/security-context.xml
		</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		
		<!-- 예외 처리 등록,예외처리 클래스에 등록 404에러 처리 -->		
		<!--  
		<init-param>
			<param-name>throwExceptionIfNoHandlerFound</param-name>
			<param-value>true</param-value>
		</init-param>
		-->
		
		<load-on-startup>1</load-on-startup>
		
		<!-- upload설정 -->
		<multipart-config>
			<location>C:/upload/temp</location> <!-- 저장 위치 -->
			<max-file-size>20971520</max-file-size> <!--1MB * 20 한파일 최대 크기-->
			<max-request-size>41943040</max-request-size><!-- 40MB 한 요청시 업로드 최대 크기-->
			<file-size-threshold>20971520</file-size-threshold> <!-- 20MB  메모리 사용 최대 크기-->
		</multipart-config>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
		<url-pattern>*.js</url-pattern>
    	<url-pattern>*.css</url-pattern>
    	<url-pattern>*.jpg</url-pattern>
    	<url-pattern>*.png</url-pattern>
	</servlet-mapping>
	
	<!-- 스프링 한글 처리 filter 등록,filter중 제일 먼저 설정 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param> <!-- json 한글 -->
			<param-name>forceEncoding</param-name>  
			<param-value>true</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- spring security filter -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern> <!-- 모든 요청에 대해 필터 사용 -->
	</filter-mapping>

</web-app>
